/* color scheme
  blue: #35D4EA;
  seafoam: #99DDDC;
  tan-green: #DFE5C9;
  orange: #FF8000;
  bright-orange: #FF5E00; */

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color: #dfe5c9;
  background: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url("https://static.pexels.com/photos/302186/pexels-photo-302186.jpeg");
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", cursive;
}

input {
  color: #000000;
}

.card {
  background-color: #f1f8e9;
}

.important-button {
  background-color: #e65100;
}

.logo {
  font-family: "Shrikhand", cursive;
}

.navbar {
  padding-left: 2rem;
  padding-right: 2rem;
}

.page-item {
  background: #ffffff;
  opacity: 0.95;
  border-radius: 2px;
  margin: 1rem;
  padding: 1rem;
}

.venues {
  max-height: 41em;
  overflow-y: auto;
}

.preloader-wrapper {
  top: 45%;
  margin: auto;
}

/* ===== swal ===== */

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.swal-modal {
  background-color: #ffffff;
  border: 3px solid white;
  border-radius: 2px;
}

.swal-text {
  background-color: #ffffff;
  padding: 1rem;
  border: 1px solid #ffffff;
  display: block;
  margin: 22px;
  text-align: center;
  color: #000000;
}

.swal-button {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
  text-align: center;
  letter-spacing: 0.5px;
  transition: 0.2s ease-out;
  cursor: pointer;
}
